<% include ../partials/header %>
<div class="container">    
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Edit <%= campground.name %></h1>
        </div>
        <div class="form-primary">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label class="has-float-label">
                        <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
                        <span>Name</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="has-float-label">
                        <input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>">
                        <span>Image URL</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="has-float-label">
                        <input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>">
                        <span>Description</span>
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit Changes</button>
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Back</a> 
        </div>
    </div>
</div>
<% include ../partials/footer %> 