<% include ../partials/header %> 
<div class="container">    
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><%= campground.name %></p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
                <a style="margin-top: 10px;" class="btn btn-default" href="/campgrounds"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail" id="show-page-image">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= Number(campground.price).toFixed(2) %> / night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p><em>Submitted by <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em></p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-info" href="/campgrounds/<%= campground._id %>/edit">Edit</a> 
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %> 
                    <!-- <div style="margin-top: 10px;">
                        <a class="btn btn-default" href="/campgrounds"><i class="fas fa-arrow-left"></i> Back</a> 
                    </div> -->
                </div>
            </div>

            <div class="thumbnail">
                <div class="caption-full">
                    <% if (campground.rating === 0) { %>
                    <h5>
                        <em>No reviews yet</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fas fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fas fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fas fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= campground.reviews.length %>)</em>
                    </p>
                    <p>
                        Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this campground:</h4></p>
                    <hr style="margin-top: 0;">
                    <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-info"
                               href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form class="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary<% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>

            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success pull-right" 
                       role="button" 
                       data-toggle="collapse" 
                       href="#collapseComment"
                       aria-expanded="false"
                       aria-controls="collapseComment"
                    >
                    <i class="fas fa-plus" aria-hidden="true"></i>
                    Add new comment  
                    </a>
                </div>
                <h4><strong>Comments <i class="fas fa-comments" aria-hidden="true"></i></span></strong></h4>
                <div class="collapse" id="collapseComment">
                    <div class="well" style="border-left: 5px solid #00c851;">
                        <% if(!currentUser) { %>
                            <i class="fas fa-exclamation-triangle" style="color: red;"></i>You must be logged in to comment.<br><a href="/login">Click here</a> to log in
                        <% } %>
                        <% if(currentUser) { %>
                            <h4>Add your comment <i class="fas fa-pencil-alt" aria-hidden="true"></i></h4>
                            <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                                <div class="form-group">
                                    <input class="form-control" type="text" value="<%= currentUser.username %>" disabled>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" 
                                              name="comment[text]" 
                                              placeholder="Write your comment..." 
                                              form="add-comment-form" 
                                              rows="5" 
                                              cols="70">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-sm">Submit</button> 
                                </div>
                            </form>
                        <% } %>
                    </div>
                </div>
                <hr>
                <% if (campground.comments.length === 0) { %>
                    <em style="color: gray;">No comments yet</em>
                <% } %>
                <% campground.comments.forEach(comment => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p> <%= comment.text %> </p> 
                            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                                <a 
                                    class="btn btn-xs btn-info" 
                                    role="button" 
                                    data-toggle="collapse" 
                                    href="#collapseEdit<%= comment._id %>"
                                    aria-expanded="false"
                                    aria-controls="collapse<%= comment._id %>"
                                >
                                Edit
                                </a>
                                <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form> 
                                <div class="collapse" id="collapseEdit<%= comment._id %>">
                                    <div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
                                        <h4>Edit your comment <i class="fas fa-edit" aria-hidden="true"></i></h4>
                                        <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                            <div class="form-group">
                                                <input class="form-control" type="text" value="<%= currentUser.username %>" disabled>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" name="comment[text]" form="edit-comment-form<%= comment._id %>" cols="70" rows="5"><%= comment.text %></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-warning btn-sm">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            <% } %> 
                            <hr>
                        </div>
                    </div>
                <% }) %> 
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>