<% include ../partials/header %> 
<div class="container">  
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><%= campground.name %></p>
            <div class="list-group" id="links-box">
                <a class="list-group-item" href="#campground-info">Info</a>
                <a class="list-group-item" href="#reviews-card">Reviews</a>
                <a class="list-group-item" href="#comments-card">Comments</a>
            </div>
            <a class="btn btn-default text-left" href="/campgrounds"><i class="fas fa-arrow-left"></i> Back</a>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= campground.image %>">
                <div class="card-body" id="campground-info">
                    <p class="float-right">$<%= Number(campground.price).toFixed(2) %> / night</p>
                    <h4 class="card-title"><a><%= campground.name %></a></h4>
                    <p><em>Submitted by <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em></p>
                    <div class="campground-likes-wrapper">
                        <form action="/campgrounds/<%= campground._id %>/like" method="POST">
                            <div class="btn-group">
                                <% if (currentUser && campground.likes.some(like => { %> 
                                    <% return like.equals(currentUser._id) %> 
                                <% })) { %>
                                    <button class="btn btn-sm btn-primary">
                                        <i class="fas fa-thumbs-up"></i><%= campground.likes.length %>
                                    </button> 
                                <% } else { %> 
                                    <button class="btn btn-sm btn-secondary">
                                        <i class="fas fa-thumbs-up"></i><%= campground.likes.length %>
                                    </button>  
                                <% } %> 
                                <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#campgroundLikes">
                                    See who has liked
                                </button>  
                            </div>
                        </form>
                    </div>
                    <div id="campgroundLikes" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Likes for <%= campground.name %>: <%= campground.likes.length %></h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Liked by:</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% campground.likes.forEach(like => { %>
                                                <tr>
                                                    <td><i class="fas fa-user-circle"></i><%= like.username %></td>
                                                </tr>
                                            <% }) %> 
                                            <% if (campground.likes.length === 0) { %>
                                                <tr>
                                                    <td><em>No likes yet</em></td>
                                                </tr>
                                            <% } %> 
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p class="card-text"><%= campground.description %></p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a class="btn btn-info btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a> 
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">Delete Campground</button>
                        </form>
                    <% } %> 
                </div>
            </div>

            <div id="reviews-card" class="card mb-3">
                <div class="card-body">
                    <% if (campground.rating === 0) { %>
                    <h5>
                        <em>No reviews yet</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></%>
                        <span class="fas fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fas fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fas fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= campground.reviews.length %>)</em>
                    </p>
                    <p>
                        Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this campground:</h4></p>
                    <hr>
                    <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p class="review-text">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <a class="btn btn-sm btn-info"
                               href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form class="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div>
                        <h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary<% if (currentUser && campground.reviews.some(review => {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>

            <div id="comments-card" class="card">
                <div class="card-body">
                    <div>
                        <a class="btn btn-success float-right" 
                        role="button" 
                        data-toggle="collapse" 
                        href="#collapseComment"
                        aria-expanded="false"
                        aria-controls="collapseComment"
                        >
                            <i class="fas fa-plus" aria-hidden="true"></i>
                            Add new comment  
                        </a>
                        <h4><strong>Comments <i class="fas fa-comments" aria-hidden="true"></i></span></strong></h4>
                    </div>
                    <div class="collapse" id="collapseComment">
                        <div class="card comment-well-new">
                            <% if(!currentUser) { %>
                                <div>
                                    <i class="fas fa-exclamation-triangle"></i>You must be logged in to comment.<br><a href="/login">Click here</a> to log in
                                </div>
                            <% } %>
                            <% if(currentUser) { %>
                                <h4>Add your comment <i class="fas fa-pencil-alt" aria-hidden="true"></i></h4>
                                <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                                    <div class="form-group">
                                        <input class="form-control" type="text" value="<%= currentUser.username %>" disabled>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" 
                                                name="comment[text]" 
                                                placeholder="Write your comment..." 
                                                form="add-comment-form" 
                                                rows="5" 
                                                cols="70">
                                        </textarea>
                                    </div>
                                    <div class="form-group comment-well-submit-btn">
                                        <button class="btn btn-success btn-sm">Submit</button> 
                                    </div>
                                </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% if (campground.comments.length === 0) { %>
                        <em>No comments yet</em>
                    <% } %>
                    <% campground.comments.forEach(comment => { %>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                                <strong><%= comment.author.username %></strong>
                                <p> <%= comment.text %> </p> 
                                <% if (currentUser && currentUser._id.equals(comment.author.id) || currentUser && currentUser.isAdmin) { %>
                                    <a 
                                        class="btn btn-sm btn-info" 
                                        role="button" 
                                        data-toggle="collapse" 
                                        href="#collapseEdit<%= comment._id %>"
                                        aria-expanded="false"
                                        aria-controls="collapse<%= comment._id %>"
                                    >
                                    Edit
                                    </a>
                                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form> 
                                    <div class="collapse" id="collapseEdit<%= comment._id %>">
                                        <div class="card comment-well-edit"> 
                                            <h4>Edit comment <i class="fas fa-edit" aria-hidden="true"></i></h4>
                                            <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" value="<%= currentUser.username %>" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" name="comment[text]" form="edit-comment-form<%= comment._id %>" cols="70" rows="5"><%= comment.text %></textarea>
                                                </div>
                                                <div class="form-group comment-well-submit-btn">
                                                    <button class="btn btn-warning btn-sm">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                <% } %> 
                                <hr>
                            </div>
                        </div>
                    <% }) %> 
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>